* {
    box-sizing: border-box;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
[class*="col-"] {
    float: left;
    padding: 5px;
}
.row::after {
    content: "";
    clear: both;
    display: block;
}
.header {
    background-color: rgb(255, 165, 0);
    color: #ffffff;
    padding: 15px;
}

.naslov{
    color:rgb(50,50,50);
    
}

.menu{
    background-color: rgb(50,50,50);
    color: rgb(255, 165, 0);
}
ul {
list-style-type: none;
margin-left: 0;
margin-right: 5%;
padding: 0;
overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 20px;
    text-decoration: none;
}

li a:hover {
    background-color: white;
    display: block;
}

ul ul{
    display:block;
    position: absolute;
    top:100%;
    left:0;
    padding:0;
    
}

ul ul li{
    float:none;
}

ul li:hover{
    display:block;
}
